#tituloUsuario {
    background-color: #F4F4F4;
    margin: 0;
}

#tituloUsuario h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 4vh;
    color: #038C8C;

    margin: 0;
    padding: 2vh 3vh;
}

#conteudoGuia {
    background-color: white;

    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
    text-align: justify;

    margin: 9.5vh 0;

    padding: 2vh 2vh;
}

#conteudoGuia p{
    margin: 0;
}

#guia{
    font-weight: 300;
}

#conteudoGuia ul{
    margin: 2vh;
}

#conteudoGuia ul li{
    padding-bottom: 1vh;
    font-weight: 300;
}

#inline{
    display: inline;
    color: #038C8C;
    font-weight: bold;
}

#creditos{
    padding-left: 2%;
    color: black;
    font-weight: 350;
    font-size: smaller;
}