.add{
    cursor: pointer;
    width: 20vh;
    height: 7vh;
    background-color: #038C8C;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border:none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 992px){
    .add{
        width: 21vh;
        height: 8vh;
    }
}
