.btn-remove-estoque{ 
    height: 11vw;
    width: 11vw;
    max-width: 60px;
    max-height: 60px;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    outline: none;
    border-style: none;
    border-radius: 50%;
    color: white;
    background-color: red;
}