.add-itens-modal {
    border: 1px solid #F27127;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70vh;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
}

.add-itens-modal form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo-add-itens {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
}

.campo-add-itens textarea {
    resize: none;
}

.campo-add-itens input {
    border: 1px solid #F27127;
    border-radius: 8px;
    height: 4vh;
    font-size: 12px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
.campo-add-itens textarea {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #F27127;
    border-radius: 8px;
    height: 17vh;
    font-size: 12px;
    padding: 10px 10px;
    outline: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.icon-add-itens {
    position: relative;
    left: 90%;
    bottom: 35%;
    color: #F27127;
}

#container-btns-add-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#container-btns-add-itens > button {
    max-width: 40%;
}

@media screen and (min-width: 992px) {
    .add-itens-modal {
        width: 40%;
    }

    .icon-add-itens {
        left: 95%;
    }
}