.deletar-modal {
    border: 1px solid #F27127;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
}

.deletar-modal p {
    width: 80%;
    font-size: 18px;
}

.btns-modal-deletar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border: none;
}

.btns-modal-deletar > button {
    border-radius: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    height: 7vh;
    width: 20vw;
    border: none;
}

#btn-excluir-modal {
    background-color: #F21616;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-excluir-modal{
    margin: 0 0.3rem;
    font-size: 1.4rem;
}

@media screen and (min-width: 992px) {
    .deletar-modal {
        width: 40%;
    }

    .deletar-modal p {
        font-size: 21px;
    }

    .btns-modal-deletar {
        margin-left: 10px;
        margin-right: 10px;
    }


    .btns-modal-deletar > button {
        width: 12vw;
        border: none;
    }
}