.add-item-alimento-modal {
    border: 1px solid #F27127;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70vh;
    font-family: 'Poppins', sans-serif;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
}

.add-item-alimento-modal form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo-item-add-alimento {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}

.campo-item-add-alimento input {
    border: 1px solid #F27127;
    border-radius: 8px;
    height: 4vh;
    font-size: 12px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}


input[type="date"]{
    color: #737380;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.icon-cadastro-evento {
    position: relative;
    left: 90%;
    bottom: 35%;
    color: #F27127;
}

#container-btns-cadastro-evento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#container-btns-cadastro-evento > button {
    max-width: 40%;
}

@media screen and (min-width: 992px) {
    .add-item-alimento-modal {
        width: 40%;
    }

    .icon-cadastro-evento {
        left: 95%;
    }
}