.update-qrcode-modal {
    border: 1px solid #F27127;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30vh;
    font-family: 'Poppins', sans-serif;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
}

.update-qrcode-modal form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-qrcode-modal p {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-size: 18px;
    text-align: center;
}

.campo-update-qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

#container-btns-update-qrcode {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#container-btns-update-qrcode > button {
    max-width: 40%;
}

#upload-input {
    margin-bottom: 1%;
}

.update-qrcode-modal input[type="file"]::file-selector-button {
    content: "Upload";
    color: white;
    background-color: #F27127;
    border-radius: 8px;
    height: 6vh;
    widht: 50vw;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.update-qrcode-modal input[type="file"]:hover {
    cursor: pointer;
}


@media screen and (min-width: 992px) {
    .update-qrcode-modal {
        width: 40%;
    }

    .icon-update-qrcode {
        left: 95%;
    }
}
