.cadastrar-evento-modal {
    border: 1px solid #F27127;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70vh;
    font-family: 'Poppins', sans-serif;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
}

.cadastrar-evento-modal form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo-cadastro-evento {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
}

.campo-cadastro-evento textarea {
    resize: none;
}

.campo-cadastro-evento input {
    border: 1px solid #F27127;
    border-radius: 8px;
    height: 4vh;
    font-size: 12px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}
.campo-cadastro-evento textarea {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #F27127;
    border-radius: 8px;
    height: 17vh;
    font-size: 12px;
    padding: 10px 10px;
}

input[type="date"]{
    color: #737380;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.icon-cadastro-evento {
    position: relative;
    left: 90%;
    bottom: 35%;
    color: #F27127;
}

#container-btns-cadastro-evento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#container-btns-cadastro-evento > button {
    max-width: 40%;
}

.campo-cadastro-evento label{
    width: 100%;
}

#foto{
    margin-bottom: 2vh;
}

#foto input{
    border: none;
}

.campo-cadastro-evento input[type="file"]::file-selector-button {
    content: "Upload";
    color: white;
    background-color: #F27127;
    border-radius: 8px;
    height: 4vh;
    width: 50%;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    white-space: normal;
}

.campo-cadastro-evento input[type="file"]:hover {
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .cadastrar-evento-modal {
        width: 40%;
    }

    .icon-cadastro-evento {
        left: 95%;
    }
}